@model IEnumerable<_inst.Models.Post.PostIndexViewModel>

<style>
    .row {
        text-align: -webkit-center;
    }

    .icon {
        text-align: justify
    }

    .comment {
        font-size: 10px;
    }

    .like-count {
        font-size: 12px;
        font-weight: bolder;
    }

    .like:hover {
        color: red;
    }
</style>


<div class="container">
    <div class="row cards">
        @foreach (var item in Model.Reverse()) // Проход цикла в обратном порядке, чтобы последние посты рисовались выше
        {
            <div class="col-sm-12 mb-4">
                <div class="post-item card" style="width: 18rem;" id="@item.Id">
                    <div class="card-body">
                        <strong class="float-left">@item.User.Name</strong>
                    </div>
                    <img src="@item.PhotoPath" class="card-img-top">
                    <div class="card-body">
                        <p class="float-left">@item.Data</p>
                    </div>
                    <div class="icon card-body">
                        <i class="like far fa-heart card-text" id="set-like"></i>
                        <p class="like-count mb-3">Нравится: @item.LikeCount</p>
                        @*Передаю id поста для для создания коментария для этого поста*@
                        <a class="comment" asp-controller="Comments" asp-action="Create" asp-route-id="@item.Id"><i class="far fa-comment" title="Написать коммент пользователю"></i></a>
                        <a class="comment" asp-controller="Comments" asp-action="Index" asp-route-id="@item.Id">Все комментарии (@item.Comments.Count)</a>
                    </div>
                    @if (item.UserId == ViewBag.UserId)
                    {
                        <div class="card-footer">
                            <a class="mr-4" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>